.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 60px;
    z-index: 1;
    pointer-events: none;

    span {
        font-size: 200px;
        font-weight: 700;
        line-height: 160px;
        letter-spacing: -0.02em;
    }

    .startYear {
        color: #5D5FEF;
    }

    .endYear {
        color: #EF5DA8;
    }
}

@media (max-width: 768px) {
    .container {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin-bottom: 40px;
        padding-bottom: 60px;
        border-bottom: 1px solid #C7CDD9;
        width: 100%;
        justify-content: center;
        gap: 30px;

        span {
            font-size: 56px;
            line-height: 1;
        }
    }
}