.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 530px;
    height: 530px;
    border: 1px solid rgba(66, 86, 122, 0.2);
    border-radius: 50%;
    pointer-events: auto;
    z-index: 2;
}

.point {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #42567A;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: width 0.3s, height 0.3s, background 0.3s;

    &:hover {
        width: 10px;
        height: 10px;
        background: #3877EE;
    }

    &.active {
        width: 56px;
        height: 56px;
        background: #f4f5f9;
        border: 1px solid rgba(48, 62, 88, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #42567A;
        z-index: 2;
        cursor: default;

        .pointLabel {
            position: absolute;
            left: 70px;
            font-weight: 700;
            font-size: 20px;
            color: #42567A;
            white-space: nowrap;
        }
    }
}

@media (max-width: 768px) {
    .container {
        display: none;
    }
}